# Ignore generated documentation
HELP.md

# Ignore target directory, but allow Maven wrapper
target/
!.mvn/wrapper/maven-wrapper.jar

# Allow target directories in source code folders
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore Ubuntu-specific directories
/db-data
/init-db

# STS (Spring Tool Suite) IDE
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/src/main/resources/.env

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode/
